
.projects-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    background-color: white;
    padding: 2em 0 2em 0;
}

.projects-parent{
    display: flex;
    align-items: center;
}

.projects-intro{
    width: 60%;
    display: block;
    margin: auto;
}

.projects-intro h1{
    padding: 0 0 .4em 0;
    font-family: 'Poppins SemiBold';
}
.projects-intro p{
    padding: 2em 0 .4em 0;
    font-family: 'Poppins SemiBold';
}

.title-border{
    border-bottom: 5px solid var( --dark-orange);
    width: 80px;
    display: block;
    margin: auto;
    padding: 0 0 .4em 0;

}

.projects-intro{
    font-size: 15px;
}

.projects-intro .disclaimer{
    padding: 1em 0 0 0;
}

.projects-colz{
    padding: 4em 0 0 0;
}

.row-1, .row-2 {
    padding: 0 0 2em 0;
}

.card-img-top{
    max-height: 375px;
    object-fit: cover;
}